* {
  padding: 0%;
  margin: 0%;
}

.movie-popup {
  display: none;

  /* background: chocolate; */
  position: fixed;
  color: #fff;
  z-index: 9999;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  overflow: auto;
  margin: 5% auto;
  padding: 2rem;
  width: fit-content;
  flex-direction: column;
  border-radius: 0.7rem;
  background: linear-gradient(rgb(0, 0, 0, 0.3), rgb(0, 0, 0, 0.3)), url('/images/banner.jpg');
  background-size: cover;

  /* width: 100%; */
  background-position: center;
}

#close-popup {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  font-size: 30px;
}

.movie-info {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 15px;
}

.movie-detail {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  column-gap: 10px;
}

.comments-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.add-comment-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  outline: none;
}

.add-comment-form input[type="submit"] {
  padding: 10px 5px;
}

.add-comment-form input[type="text"] {
  padding: 10px 5px;
  outline: none;
}

.add-comment-form textarea {
  padding: 10px 5px;
  outline: none;
}

.comment-date-username {
  font-size: 20px;
  margin-right: 10px;
}

.comment-body {
  margin-top: 10px;
}

.list-of-comments {
  margin-top: 10px;
}

.commment-div {
  width: 300px;
}

.comment-form-title {
  text-align: center;
  position: relative;
  padding-bottom: 10px;
}

.comment-form-title::after {
  background: #ec5242;
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0%;
  border-radius: 15px;
  width: 70px;
  height: 4px;
  transform: translateX(-50%);
}

.tv-title {
  font-size: 20px;
  font-weight: 700;
  color: #ec5242;
}

#submit-button {
  height: 40px;
  font-size: 16px;
  background-color: #ec5242;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
}

.total-comments {
  margin: 0 2px;
}

.fa-solid {
  color: #ec5242;
}
